.linha {
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,127,15), rgba(255,0,0,0));
    height: 3px;
    width: 100%;
    align-self: center;
}

fa-icon {
    cursor: pointer;
}

.ajustar-img {
    width: auto;
}

.ajustar-img-emConstrucao {
    width: auto;
    height: 100vh;
}