<app-topo class="topo">
    <span titulo>Lógica Matemática</span>
    <span subtitulo>
        Os cálculos envolvidos são relacionados à estatística para auxiliar na interpetação dos
        dados coletados antes, durante e após a fase de aprendizagem de máquina ao uso da Inteligència Artificial.
    </span>
</app-topo>

<div class="linha linha-divisoria"></div>

<section class="conteudo">
    <h3>Processo interativo de análise estatística de dados</h3>
    <p class="texto-body">
        Geralmente o objetivo de analisar estaticamente os dados é para obter tomadas de decisões, resolver problemas ou gerar novos conhecimentos.

        E a interatividade surge no momento dessa produção de conhecimento que normalmente geram novos problemas, iniciando todo o processo na escolha da pesquisa, tratamento de dados e análise das informações com algumas das técnicas de estatística alinhadas ao objetivo de solucionar o problema gerado.
    </p>

    
</section>