@media (max-width: 600px) {
    .icone-inicio {
        width: 75px;
    }
}

.icone-inicio {
    width: 35px;
}

.prox-icon01 {
    position: fixed;
    left: 15px;
    top: 15px;
}

.prox-icon02 {
    position: fixed;
    left: 15px;
    top: 65px;
}