.contato_marina {
    border-radius: 93px;
    height: auto;
    width: 190px;
    float: left;
}

@media (max-width: 600px) {
    .contato_marina {
        float: none;
    }
}

/*.conteudo-center {
    text-align: center;
}*/

.contato_texto {
    padding: 130px 30px 30px 17px;
    margin-left: 190px;
    text-align: left;
}

@media (max-width: 600px) {
    .contato_texto {
        padding: 30px;
        margin-left: 0;
        text-align: left;
    }
}