footer {
    padding: 10px;
    font-size: 13px;
    color: #aaa;
    margin-bottom: -2px;
    width: 85%;
}

footer a {
    color: #666;
}

footer a:hover {
    color: #444;
}

.marina {
    border-radius: 51%;
    width: 63px;
    float: left;
    margin-right: 12px;
}