header {
    padding: 10px;
    width: 88%;
}

header h1 {
    font-size: 33px;
    font-weight: 900;
    line-height: 1.2;
    color: #000;
    letter-spacing: -1px;
}

header h2 {
    font-size: 15px;
    font-weight: normal;
    line-height: 1.3;
    color: #aaa;
    letter-spacing: 1px;
}