@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Condensed:400,600');

* {
    outline: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-family: 'Chivo', 'Helvetica Neue', Helvetica, Arial, serif;
}

.grid {
    display: grid;
}

.template-site {
    grid-template-columns: 48px 1fr;
    grid-template-rows: auto 9px 1fr 9px auto;
    grid-template-areas: 
        "menu-esq header" 
        "menu-esq linha1" 
        "menu-esq body" 
        "menu-esq linha2" 
        "menu-esq footer"
    ;
    column-gap: 10px;
    height: 99vh;
    align-items: center;
}

@media only screen and (max-width: 850px) and (max-height: 666px) {
    .template-site {
        padding-right: 10px;
        height: unset;
    }
}

.item_header {
    grid-area: header;
}

.item_menu {
    grid-area: menu-esq;
}

.item_linha1 {
    grid-area: linha1;
}

.item_linha2 {
    grid-area: linha2;
}

.item_body {
    grid-area: body;
    justify-self: center;
    align-self: start;
    padding: 9px;
}

.item_footer {
    grid-area: footer;
    align-self: end;
}

.imgPrincipal {
    width: 100%;
}

.linha {
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,127,15), rgba(255,0,0,0));
    height: 3px;
    width: 100%;
    align-self: center;
}

.texto-autor {
    font-size: 10px;
    color: #ef0eb773;
}

h3 {
    color: rgba(255,0,127,15);
    padding-bottom: 9px;
    font-variant: small-caps;
    font-weight: lighter;
}

.texto-body {
    color: #5a5a5a;
    font-size: 12px;
    padding: 0 9px 18px 9px;
}

a.texto-body:hover {
    color: rgba(255,0,127,15);
    text-decoration: underline;
}

.add-margin1 {
    margin: 10px 0 0 30px;
}

.add-margin2 {
    margin: 10px 0 20px 30px;
}

.template-intro {
    grid-template-columns: 100%;
    grid-template-areas: 
        "cena"
        "footer"
    ;
    justify-items: center;
}

@media only screen and (max-width: 1025px) and (max-height: 831px) {
    .template-intro {
        grid-template-rows: unset;
    }
}

.item_cena {
    grid-area: cena;
}

.template-cena {
    grid-template-columns: repeat(8, auto);
    grid-template-rows: min-content min-content auto;
    grid-template-areas: 
        "btn-intro btn-intro btn-intro btn-intro btn-intro btn-intro btn-intro btn-intro"
        "img img img img img img img img"
        "btn-voltar btn-cena1 btn-cena2 btn-cena3 btn-cena4 btn-cena5 btn-cena6 btn-continuar"
    ;
    justify-items: center;
    align-items: baseline;
    margin-bottom: 20px;
}

.item_btn-intro {
    grid-area: btn-intro;
    margin-top: 10px;
}

.item_btn-voltar {
    grid-area: btn-voltar;
}

.item_btn-cena1 {
    grid-area: btn-cena1;
}

.item_btn-cena2 {
    grid-area: btn-cena2;
}

.item_btn-cena3 {
    grid-area: btn-cena3;
}

.item_btn-cena4 {
    grid-area: btn-cena4;
}

.item_btn-cena5 {
    grid-area: btn-cena5;
}

.item_btn-cena6 {
    grid-area: btn-cena6;
}

.item_btn-continuar {
    grid-area: btn-continuar;
}

.item_img {
    grid-area: img;
    padding: 10px;
}

@media (max-width: 600px) {
    .item_img {
        width: 100%;
    }
}