.wrap {
    position: relative;
    left: -39px;
    width: 80vmin;
    height: 80vmin;
    margin: 0 auto;
    background: inherit;
    transform: scale(0.2) translatez(0px);
    opacity: 0;
    transition: transform .5s, opacity .5s;
}

.wrap a {
    position: absolute;
    left: 0;
    top: 0;
    width: 47.5%;
    height: 47.5%;
    overflow: hidden;
    transform: scale(.5) translateZ(0px);
    background: #585247;
}

.wrap a div {
    height: 100%;
    background-size: cover;
    opacity: 0.15;
    transition: opacity .5s;
    border-radius: inherit;
}

.col-24 {
    width: 24%;
    display: inline-block;
}

.col-74 {
    width: 74%;
    display: inline-block;
    text-shadow: none;
}

.row-98 {
    width: 98%;
    display: inline-block;
}

.estatisticaTemaImg {
    border-radius: 36px;
    height: 72px;
}

.estatisticaTemaTitulo1 {
    position: relative;
    top: -25px;
    left: 13px;
}

.estatisticaTemaTitulo2 {
    position: relative;
    top: -11px;
    left: 13px;
}

.estatisticaTemaTitulo3 {
    position: relative;
    top: -25px;
    left: -25px
}

.estatisticaTemaTitulo4 {
    position: relative;
    top: -25px;
    left: 5px;
}


@media (max-width: 600px) {
    .estatisticaTemaTitulo1 {
        position: relative;
        top: -12px;
        left: 8px;
    }

    .estatisticaTemaTitulo2 {
        position: relative;
        top: -5px;
        left: 13px;
        font-size: 18px;
    }

    .estatisticaTemaTitulo3 {
        position: relative;
        top: -29px;
        left: 6px;
    }

    .estatisticaTemaTitulo4 {
        position: relative;
        top: -12px;
        left: 6px;
    }

    .estatisticaTemaImgMod {
        position: relative;
        top: -1px;
        left: 2px;
    }
}

.estatisticaTemaFundo {
    background-color: #585247;
    padding: 7px 6px 0px;
    height: 79px;
    border-radius: 40px;
    margin-bottom: 20px;
}

.wrap a:nth-child(1) {
    border-radius: 40vmin 0 0 0;
    transform-origin: 110% 110%;
    transition: transform .4s .15s;
}

.wrap a:nth-child(1) div {
    background-image: url('../img/amostragemEplanejamento.jpg');
}

.wrap a:nth-child(2) {
    border-radius: 0 40vmin 0 0;
    left: 52.5%;
    transform-origin: -10% 110%;
    transition: transform .4s .2s;
}

.wrap a:nth-child(2) div {
    background-image: url('../img/estatisticaDescritiva.jpg');
}

.wrap a:nth-child(3) {
    border-radius: 0 0 0 40vmin;
    top: 52.5%;
    transform-origin: 110% -10%;
    transition: transform .4s .25s;
}

.wrap a:nth-child(3) div {
    background-image: url('../img/probabilidade.jpg');
}

.wrap a:nth-child(4) {
    border-radius: 0 0 40vmin 0;
    top: 52.5%;
    left: 52.5%;
    transform-origin: -10% -10%;
    transition: transform .4s .3s;
}

.wrap a:nth-child(4) div {
    background-image: url('../img/estatisticaInferencial.jpg');
}

.wrap a:nth-child(5) {
    width: 55%;
    height: 55%;
    left: 22.5%;
    top: 22.5%;
    border-radius: 50vmin;
    box-shadow: 0 0 0 5vmin #E3DFD2;
    transform: scale(1);
}

.wrap a:nth-child(5) div {
    background-image: url('../img/itensEstatitiscas.png');
}

.radialMenu span {
    position: relative;
    display: block;
    margin: 0 auto;
    top: 45vmin;
    width: 10vmin;
    height: 10vmin;
    border-radius: 100%;
    background: #585247;
    transform: translateZ(0px);
}

.radialMenu span:hover+.wrap, .wrap:hover {
    transform: scale(.8) translateZ(0px);
    opacity: 1;
}

.radialMenu span:hover+.wrap a, .wrap:hover a {
    transform: scale(1) translatez(0px);
}

.wrap a:hover div {
    opacity: 1;
    transform: translatez(0px);
}

.infoExtraEfeitos2 {
    width: 45%;
    height: auto;
    transform: rotate(150deg);
}

#estatistica:target {
    border: 1px solid #6d6d6d;
    border-radius: 60px 60px 6px 6px;
    padding: 15px;
    margin-bottom: 20px;
    display: block;
 }

 #estatistica {
    display: none;
 }

 #amostragem:target {
    border: 1px solid #6d6d6d;
    border-radius: 60px 60px 6px 6px;
    padding: 15px;
    margin-bottom: 20px;
    display: block;
 }

 #amostragem {
    display: none;
 }
 
 #descritiva:target {
    border: 1px solid #6d6d6d;
    border-radius: 60px 60px 6px 6px;
    padding: 15px;
    margin-bottom: 20px;
    display: block;
 }

 #descritiva {
    display: none;
 }

 #probabilidade:target {
    border: 1px solid #6d6d6d;
    border-radius: 60px 60px 6px 6px;
    padding: 15px;
    margin-bottom: 20px;
    display: block;
 }

 #probabilidade {
    display: none;
 }

 #inferencial:target {
    border: 1px solid #6d6d6d;
    border-radius: 60px 60px 6px 6px;
    padding: 15px;
    margin-bottom: 20px;
    display: block;
 }

 #inferencial {
    display: none;
 }   

:target p {
    margin-bottom: unset;
 }