<app-topo class="topo">
    <span titulo>Inteligência Artificial</span>
    <span subtitulo>
        <i>"Converse e lhe direi quem sou".</i>
    </span>
    <span extra>
        <p class="texto-autor">Marina Micas (2021) apud Alan Turing (1950)</p>
    </span>
</app-topo>

<div class="linha linha-divisoria"></div>

<div class="conteudo">
    <section>
        <img src="assets/img/emConstrucao.png" alt="Local do site em construção" class="ajustar-img-emConstrucao" />
        
    </section>
</div>