<div class="forma retangulo default item_ret_prob">
    Problema a ser solucionado
</div>

<i class="fas fa-arrow-right item_icon-01"></i>

<div class="forma losango pesquisa item_los_pes">
    <span class="losango-alinhar-texto">Realizar pesquisa</span>
</div>

<i class="fas fa-arrow-right item_icon-02"></i>

<a href="LOG-MAT/LOG-MAT_observacional.html" class="item_ret_obs">
    <div class="forma retangulo pesquisa">
        Observacional
    </div>
</a>

<i class="fas fa-arrow-down item_icon-03"></i>

<a href="LOG-MAT/LOG-MAT_experimental.html" class="item_ret_exp">
    <div class="forma retangulo pesquisa">
        Experimental
    </div>
</a>