:host {
    display: grid;
    grid-template-columns: 48px 1fr;
    grid-template-rows: auto calc(100vh - 21%) auto;
    grid-template-areas: 
        "menu corpo" 
        "menu rodape"
    ;
    column-gap: 10px;
    height: 99vh;
    align-items: center;
}

@media only screen and (max-width: 850px) and (max-height: 666px) {
    :host {
        padding-right: 10px;
        height: unset;
    }
}

.menu {
    grid-area: menu;
}

.corpo {
    grid-area: corpo;
    justify-self: center;
    align-self: start;
    padding: 9px;
}

.rodape {
    grid-area: rodape;
    align-self: end;
}