<app-topo class="topo">
    <span titulo>Contato</span>
    <span subtitulo>
        Olá navegante dos setes cliques!!! 
        Meu nome é Marina e meu intuito nesse site é trazer um conteúdo resumido num formato diferente 
        do que estamos acostumados nessa imensidão cyberquática. 
        E caso temha alguma dúvida sobre o material ou então queira sugerir algo entre em contato que 
        lançarei âncora afim de pescar sua interatividade ;)
    </span>
</app-topo>

<div class="linha linha-divisoria"></div>

<section class="conteudo">
    <img src="assets/img/contato-marina-micas.jpeg" alt="Marina Micas Jardim" class="contato_marina" />

    <div class="contato_texto">
        <p>
            <fa-icon [icon]="faEnvelopeSquare"></fa-icon>
            <a href="mailto:marinamicas@gmail.com?Subject=Contato%20pelo%20GitHub%20sobre%20conteúdo%20de%20Inteligência%20Artificial" class="texto-body">marinamicas@gmail.com</a>
        </p>

        <p>
            <fa-icon [icon]="faLinkedin"></fa-icon>
            <a href="https://www.linkedin.com/in/marina-micas-jardim-703b3316/" class="texto-body">https://www.linkedin.com/in/marina-micas-jardim-703b3316/</a>
        </p>
    
        <p>
            <fa-icon [icon]="faWhatsappSquare"></fa-icon> 
            <a href="https://wa.me/5521985487666?Sua%20mensagem%20aqui!" class="texto-body"> (21) 9.8548-7666</a>
        </p>
    </div>
    
</section>