<div class="linha linha-divisoria"></div>

<footer class="rodape">
    Conteúdo dos arquivos do site é mantido por <a
        href="https://github.com/meus-estudos-em-inteligencia-artificial">meus-estudos-em-inteligencia-artificial</a><br>
    este site foi gerado por <a href="https://pages.github.com">GitHub Pages</a>.
    <br /><br />
    <img src="../../../assets/img/marina-micas-jardim.jpeg" alt="Marina Micas Jardim" class="marina" />
    Conteúdo estruturado por
    <br /><a href="https://www.linkedin.com/in/marina-micas-jardim-703b3316/">&spades; &hearts; Marina Micas
        Jardim
        &clubs; &diams;</a><br />
    a partir da especialização em andamento pela
    <br />PUC Minas Virtual - turma agosto 2020.
</footer>