/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Condensed:400,600');
@import 'sass/botao';
@import 'sass/texto';
@import 'sass/imagem';

* {
    outline: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-family: 'Chivo', 'Helvetica Neue', Helvetica, Arial, serif;
}

.template-com-menu {
    display: grid;
    grid-template-columns: 48px 1fr;
    grid-template-areas: 
        "menu corpo" 
        "menu rodape"
    ;
    column-gap: 10px;

    @media only screen and (max-width: 850px) and (max-height: 666px) {
        padding-right: 10px;
    }
}

.template-sem-menu {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: 
        "corpo" 
        "rodape"
    ;
    column-gap: 10px;

    @media only screen and (max-width: 850px) and (max-height: 666px) {
        padding-right: 10px;
    }
}